
.pagination {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;

  li {
    cursor: pointer;
  }
}

.pageItem {
  a {
    border: 1px #fe5f1e solid;
    border-radius: 50%;
    color: #fe5f1e;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.pageActive {
  a {
    color: #fff;
    background-color: #fe5f1e;
  }
}


